<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choose field</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/field.css">
</head>

<body>

    <div class="container">
        <form method="post" action="/doctor/home1">
            <div>
                <input type="text" hidden name="email" value="<%=email%>">
                <input type="text" hidden name="password" value="<%=password1%>">
                <input type="text" hidden name="college" value="<%=college%>">
                <select name="field" id="colleges">
                    <% for( let index = 0; index < clgs.length; index++ ) { %>
                        <option value="<%= clgs[index] %>"><%= clgs[index] %></option>
                    <% } %>
                </select>
            </div>
            
               
            <input type="submit" value="SIGN UP" id="signup"><br>
            <div class="new1">
                <a href="#" id="su"></a>
                <a href="#" id="fp"></a>
            </div>
        </form>
    </div>

  

    

</body>

</html>
